.default {
    padding: 120px 0;
}

.inner {
    max-width: 1170px;
    margin: 0 auto;
}

@media (max-width:1200px) {
    .inner {
        max-width: 1170px;
        margin: 0 15px;
    }
}

.main_content .inner {
    display: flex;
    gap: 30px;
}

.main_content .inner>* {
    position: relative;
    flex: 1;
    background: tomato;
}

.main_content .inner img {
    width: 100%;
}

.main_content .inner .txt_box {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (max-width:768px) {
    .main_content .inner {
        flex-direction: column;
        gap: 24px;
    }

    .main_content .inner .txt_box {
        position: static;
    }
}